﻿<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
    <section>
        <header>
            <h3>Get Weather Information</h3>
        </header>
        <div class="containerField" ng-show="error && error!==''">
            <div class="clearBlock">
                <p class="error">{{error}}</p>
            </div>
        </div>
        <div class="containerField">
            <div class="clearBlock">
                <span class="left">Enter a country</span>
                <span class="right">
                    <input type="text" placeholder="Country" ng-model="weather.country" ng-focus="resetCountry()" />
                    <ul class="dropdown" ng-show="showCountryList()">
                        <li ng-repeat="ctry in countries" value="ctry"
                            ng-click="selectCountry(ctry)"
                            ng-mouseover="toggleHighlight($index)"
                            ng-class="{'highlight': highlightedIndex === $index}">{{ctry}}</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="containerField" ng-show="showCity()">
            <div class="clearBlock">
                <span class="left">Select the city</span>
                <span class="right">
                    <input type="text" placeholder="City" ng-model="weather.city" ng-focus="resetCity()" />
                    <ul class="dropdown" ng-show="showCityList()">
                        <li ng-repeat="cty in cities track by $index" value="cty"
                            ng-click="selectCity(cty)"
                            ng-mouseover="toggleHighlight($index)"
                            ng-class="{'highlight': highlightedIndex === $index}">{{cty}}</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="containerField table1" ng-show="showWeather() ">
            <div class="clearBlock">
                <h3>Weather Report</h3>
            </div>
            <div class="clearBlock row" ng-repeat="detail in weather.details">
                <span class="left">
                    <label>{{detail.label}}</label></span>
                <span class="right">
                    <label>{{detail.info}}</label></span>
            </div>
        </div>
    </section>
</body>
</html>
