﻿body, input, button {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.2em;
}

body {
    background-color: #fff;
    color: #333;
    max-width: 980px; /*Remove this to make it full screen*/
    margin: 1em auto;
}

button, input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

/*#region Header */

header {
    margin: 0 .7em;
    position: relative;
    z-index: -1;
}

    header p {
        font-size: 2.5em;
        margin: 0;
    }

#userSettings {
    float: right;
}

    #userSettings > form:before {
        content: ' | ';
    }

    #userSettings form {
        display: inline;
    }

#menu {
    list-style-type: none;
    padding: 0;
}

    #menu li {
        display: inline-block;
    }

        #menu li:not(:first-child) {
            margin-left: .8em;
        }

/*#endregion */

/*#region forms */

#changePasswordForm input,
#registerForm input,
#loginForm input {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #changePasswordForm input[type=text], #changePasswordForm input[type=password],
    #registerForm input[type=text], #registerForm input[type=password],
    #loginForm input[type=text], #loginForm input[type=password] {
        background: white;
        width: 220px;
    }

    #loginForm input[type=checkbox] {
        border: none;
    }

    #changePasswordForm input[type=submit] {
        margin-bottom: .8em;
    }

#registerPanel {
    display: none;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
}

#loginPanel {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
    width: 600px;
}

    #registerPanel h2,
    #loginPanel h2 {
        padding-bottom: .5em;
        margin: 0;
    }

    #registerPanel a,
    #loginPanel a {
        color: navy;
        font-weight: bold;
        cursor: pointer;
    }

    #registerPanel p,
    #loginPanel p {
        clear: both;
    }

#localLoginPanel {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
    text-align: left;
}

#socialLoginPanel {
    margin-left: 40px;
    float: left;
    width: 45%;
    text-align: left;
}

    #socialLoginPanel h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#externalLogins {
    text-align: left;
    padding-left: 25px;
}

fieldset {
    border: none;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    display: inline;
}

    fieldset legend {
        display: none;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

    fieldset ol {
        padding: 0;
        margin: 0 0 8px 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

ol.round {
    list-style-type: none;
    padding-left: 0;
}

/*#endregion */

#main-content {
    min-height: 400px;
    text-align: center;
}

/*#region info and errors */
.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.validation-summary-errors {
    color: red;
    list-style: none;
    width: 220px;
    font-size: .8em;
}

    .validation-summary-errors ul {
        padding: 0 !important;
        margin: 0 !important;
    }

/*#endregion */

/*#region Unauthorized */

#unauthorized {
    margin: 3em 0;
    text-align: center;
}

    #unauthorized ul {
        list-style: none;
        padding: 0;
        margin: 3em 0;
    }

    #unauthorized li {
        display: inline-block;
        padding: 6px 20px;
        background-color: #dedede;
        border: 1px solid gray;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        #unauthorized li:first-child {
            margin-right: 2em;
        }

/*#endregion */

/*#region Footer */

footer {
    clear: both;
    margin: 5em 5em .7em 0;
}

/*#endregion */

/*#custom layout*/
div.clearBlock {
    display: block;
    clear: both;
}

.containerField {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0;
    font-size: 20px;
}

    .containerField .error {
        color: red;
    }

    .containerField .left {
        width: 40%;
        height: 35px;
        float: left;
        margin-top: 10px;
        text-align: -webkit-right;
    }

    .containerField .right {
        position: relative;
    }

        .containerField .right label {
            text-align: left;
            float: left;
            margin: 10px 0 0 6%;
            width: 50%;
        }

    .containerField input, select {
        width: 45%;
        padding: 2px 5px;
        margin: 5px;
        border: grey solid 1px;
        font-size: 20px;
    }

ul.dropdown {
    display: inline-block;
    list-style: none;
    width: 45%;
    padding: 0 7px;
    margin-top: -5px;
    background-color: aliceblue;
    font-size: 16px;
}

    ul.dropdown li {
        text-align: left;
        padding: 5px 0;
        cursor: pointer;
    }

        ul.dropdown li.highlight {
            background-color: #3399FF;
            color: #FFFFFF;
            margin: 0 -7px;
            padding-left: 7px !important;
            border: 1px ridge #FFFFFF;
        }

.table1 {
    background-color: aliceblue;
    font-size:15px;
}

    .table1 .header {
        background-color: #3399FF;
        color: #FFFFFF;
    }

    .table1 .row {
        border-bottom: 1px ridge #3399FF;
    }
/*#endregion*/

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        text-align: center;
        clear: both;
    }
}
