﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Global Weather Zone</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    
    @Scripts.Render("~/node_modules/angular/angular.js")
    @Scripts.Render("~/node_modules/lodash/lodash.js")
    @Scripts.Render("~/Scripts/xml2json.js")

    @Scripts.Render("~/Angular/app.js")
    @Scripts.Render("~/Angular/Services/weatherService.js")
    @Scripts.Render("~/Angular/Controllers/weatherController.js")

    @Scripts.Render("~/Angular/Views/weatherInformation.html")
</head>
<body>
    <div id="body" ng-app="globalweather">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>